.form-container {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
  .inputs-container {
    flex: 50%;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    .label-input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        margin-right: 20px;
        color: white;
      }
    }
  }
  .result-container {
    flex: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-right: 100px;
    min-width: 300px;
    min-height: 120px;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
}
