body {
  margin: 0;
}


@import "assets/icons.css";
@import "~rc-design/rc-design.css";


.component-conatiner {
  flex: 1;
  padding: 10px;
  margin: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  min-height: 75vh;
  background-color: cornflowerblue;

}

#calendar-angular-container-1 {
  .result-conatiner {
    background: khaki;
  }
}
