@import "~rc-design/rc-design.css";

.component-conatiner {
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: cornflowerblue;
  min-height: 100px;
}

#calendar-angular-container-1 {
  .result-conatiner {
    background: khaki;
  }
}
