.form-container {
  display: flex;
  font-weight: bold;
  .inputs-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .result-container {
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    min-width: 400px;
    min-height: 120px;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
}

@media screen and (max-width: 530px) {
  .form-container {
    flex-direction: column;
    .inputs-container {
      width: auto;
      flex-direction: column;
      .label-input-container {
        margin-bottom: 20px;
      }
    }
    .result-container {
      min-width: 300px;
    }
  }
}
