<div class="component-conatiner">
  <div class="form-container">
    <div class="inputs-container">
      <app-calendar-range-picker key="1"
                                 (dateRangeChange)="onDateRangeChanged($event)">
      </app-calendar-range-picker>
    </div>
    <div class="result-container">
      <span>{{selectedDateRange ? selectedDateRange.from && selectedDateRange.from.format(dateFormat) : 'Start Date'}}</span>
      <span> - </span>
      <span>{{selectedDateRange ? selectedDateRange.to && selectedDateRange.to.format(dateFormat): 'End Date'}} </span>
    </div>
  </div>
</div>
